.parent{
    display: grid;
    margin: 1px;
}
.parent>div{
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item1{
    grid-column: 1/8 ;
    border: 2px solid black;
    text-align: center;
    background-color: aquamarine;
    /* height: 60px; */
    
   
}
.item2{
    grid-row: 2/8;
    border: 2px solid black;
    text-align: center;
    /* height: 315px; */
}
.item3{
    grid-column: 2/8;
    border: 2px solid black;
    text-align: center;
    /* height:120px ; */
}
.item4{
   
  grid-column: 2/8;
  border: 2px solid black;
  text-align: center;
  /* height: 120px; */
}
.item5{
    grid-column: 2/8;
    border: 2px solid black;
    text-align: center;
    /* height: 120px; */
}
.item6{
   grid-column: 1/8;
   border: 2px solid black;
   text-align: center;
   /* height: 60px; */
}
nav ul li{
    display: inline;
    margin: 10px;
}
.parentdiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-direction: column; */
    /* border: 3px solid black; */
    justify-items: center;
    /* background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAJQBDgMBIgACEQEDEQH/xAAaAAADAQEBAQAAAAAAAAAAAAAAAQIDBAUG/8QALBAAAwACAAYBAgYCAwAAAAAAAAECAxEEEiExQVFhIjITQlJxgZEjUwUUM//EABcBAQEBAQAAAAAAAAAAAAAAAAABAgP/xAAZEQEBAQEBAQAAAAAAAAAAAAAAEQExIQL/2gAMAwEAAhEDEQA/APvwADTiAAAAAAAAAABgMBDQDSABpDSGBIFaGBOg0PQaCpArQaCJaEU0LTAkRTEAhFCAQAAACRSnZpMBUKdkvudNTyY6r0jmSAQ0ilJagDEAAIAAAAAAAGAAMAGAJFJAkNIKBoaQ9ALQaKSHoCdBorQaAjQaKaFoCWIvRLQEtEl6FoCBFaGpAjWy1Jcxs3jEBlGM6MeLZrjxP0bZeXBid13/ACr2wsedxb+pY146v9zFSX1qm67vuXMhEzJpMlTJopA8wAAIAAAAAGgAYhgMpISRSChIpISKAEitAkUgForQ0h6AnQaL0LQVGhaNNEtBGbQtFtE6YEaFo0UsuYAyU7NJx7NZxnRjxfAq5jGMXwdOLC210NseE3rkwY3eXokRrMZOZxY3dtKV3Z5XE5q4jK67Su0+jXic98RXXpC+2TOYLibqJg0mSpk0meoRMyaKfL1ozzZ4wLr1r0jz82a8r3dfwuxIMgACsgAAAGhD8gMaEikFNDQkUgGUhIpAUkUkElIVQkVoEilIonQaNOUNCjPRLRbQnIoz0NQaKDScYqxjMGsYzaMWzox4SEY48O/B048PwO7xYF/krT9HHm4273OL6J9+WF46c/E48G5X1X6Xg8zNkyZ75sj/AGXhByt9y1D9CJus1JopCriF9dJGN8XvpiS/dlRvVTinmyUkjlzcbTTnGuWf1PuzlyVVW3VNv5JCUbe9t7fyAAAgAAgAAAY9ACCnoaGilr0BKKRtHDN9/pNp4eJ6/c/kK54l12WzWcT89DXlfiQ0965W38LYIlRE9upa14NZ4XI+tfSn77mi4fFHfdP5eiLHOupSiv0m+5X2pITv5Az5KDkNNiAycjUF/T5oPxYXTldBYJxm040l1MPx7f2SkZ1V19zbA7Ky4sXd8z9IwycXlrpjXJL/ALMNaJdMJVNN9+ovpn7mkZVde/6Mmm+/UqVvXERPbdGN58ldE+VfBKk0nGBiodPrv+S6nkxujpjEc3G5OqxT+X7gjlANgEAAACAAAAAApjQl30ur9HXh4ZTqsq2/0gRiw1fVdF5Z148cY+3V+2Lm12FzP0FabKhVdamW38G3D8FV/VmblevJ2zyYp5YWkiNYwxcJrTyX1/SjdcmNalJGdZe5lWQK2d+ydp90jLnDmA15ZfeVsfJH6UZqilQGix4v9a/sPw8X+tE8wOgBxC7TP9GbS8JL+CnRnTCJrRlRbZnQNRTM2WydFxENAoNVOzScbfZBIxnGbxh6djpxYEluh5rx4MbyZOi8IVZHNxNrhsPP3p9JXyeLTdU3Xd9zXic98Rld3/C9IxDOgAAIYCGAgGIAHKbrlS6sXfsdmKFjnv8AV5YVWLGsPfXP5ZTr5M3QRN5bUQt0+wFwqyUphN0z1eH4WOHSqtVk9+g4fFHC49T1p/dTFeb5I3mTrW8nyYXlMLymVZAVvWQh2YOw5iput1RSZjLKTIN5ZaowTKTCtt/Ib+TLmDmCtHRFUQ6E3sIGyWMpIIjQ5jbNZhvsdOLA9dQsYY8LrsdWPEo7miShHBxf/Jxi3GD67814Q6cdHE8Rj4aObI914ld2eDxXE5OJvmyP9p8IjLd5KdZKdN92yGXMZ3aRI2IMgAAABACAYAOVt6A1wTr6338F1XUh1rSJdLqFU34Xc9XhMa4bF1/9K+5nBwUJ3+Lfaft/c6cmbYXG2TN8nNeX5MrymNWCtqyEu/kx5hphGqZcsxTLTA2TKTMUy0wrVMrZimVsg12g2ZJloKoaQJGsRvwBCk3x4t+A3ixL/LaT9GWT/kZlawx/NBfHbGJR1ZjxHH4cPRPnr1J5Wfi8ufau3r1PQ52xDfp0cVxubP0p6jxM9jl7AyWysWhksYghMQAAAAAAIAQDLnsQPfQBtk9xMcrdIK7JrkxTJleQir2ZtgW7J2SMCkUmQNBGiZSZnsewrXY0zNMaYGqZaZgmPYV0Kp9lfjSvZzbFsFdP/Yf5VJFZ7ro6f7Ix2JsFU62TsTYmwgbJbDZLYAxAIIBAIAAAAAAAAEAIBgAAIaAABiAAAAABjAAGNDABggAKex7AAHsNgAC2JsAATEAAIQAEJiAAEAAAAAAAAAACAAP/2Q=="); */

}
.elements{
    display: flex;
    padding-left: 10px;
    margin-top: 20px;
   
}
.submit{
    text-align: center;
    
}
#submit{
    background-color: rgb(0, 128, 77);
}
.header{
    background-color: rgb(177, 233, 241);
    text-align: center;
} 
table ,th, tr, td{
    border: 1px solid black;
}
